<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="ColoredConsole" name="console"
            layout="${date:format=MM/dd HH\:mm\:ss} [${callsite:className=true:methodName=false}] ${level:uppercase=true} ${message} ${exception:format=tostring}">
      <highlight-word text="DEBUG" foregroundColor="White" backgroundColor="Gray" />
      <highlight-word text="INFO" foregroundColor="White" backgroundColor="DarkBlue" />
      <highlight-word text="WARN" foregroundColor="Black" backgroundColor="DarkYellow" />
      <highlight-word text="ERROR" foregroundColor="White" backgroundColor="DarkRed" />
      <highlight-word text="FATAL" foregroundColor="White" backgroundColor="Red" />
    </target>
    
    <target xsi:type="File" name="file"
            fileName="logs/bot-${shortdate}.log"
            layout="${date:format=MM/dd HH\:mm\:ss} [${callsite:className=true:methodName=false}] ${level:uppercase=true} ${message} ${exception:format=tostring}"
            archiveFileName="logs/archive/bot-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>